#github.container {
    color: #e6edf3;
    background-color: transparent;
}
:root{
    --lv-clr-0: #1e1e1f;
    --lv-clr-1: hsl(150, 66%, 16%);
    --lv-clr-2: hsl(148, 100%, 21%);
    --lv-clr-3: hsl(133, 63%, 40%);
    --lv-clr-4: hsl(130, 64%, 53%);
}

#github .grid {
    display: grid;
    grid-template-columns: 28px 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 4px;
    overflow-x: scroll;
    font-size: 12px;
    line-height: 12px;
    text-transform: capitalize;
    padding-bottom: 4px;
    margin-top: 16px;
    margin-bottom: 6px;
}

#github .grid::-webkit-scrollbar{
    background-color: #222222;
    height: 6px;
}
#github .grid::-webkit-scrollbar-thumb{
    background-color: #434345;
}

#github .grid .month {
    grid-column: 2/3;
    display: grid;
}
#github .month.skeleton{
    display: flex;
    justify-content: space-between;
}
.month.skeleton li{
    height: 12px;
    width: 28px;
    border-radius: 2px;
    background-color: #1e1e1f;
}

#github .grid .week li{
    margin-top: 13px;
}

#github .levels{
    font-size: 12px;
    color: #6b737c;
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: right;
}
#github .levels span{
    aspect-ratio: 1;
    display: inline-block;
    width: 10px;
}

.calendar {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(53, minmax(10px, 1fr));
    grid-template-rows: repeat(7, minmax(10px, 1fr));
}

.day {
    border-radius: 2px;
    aspect-ratio: 1;
    background-color: var(--lv-clr-0);
}


.level-0 {
    background-color: var(--lv-clr-0);
}

.level-1 {
    background-color: var(--lv-clr-1);
}

.level-2 {
    background-color: var(--lv-clr-2);
}

.level-3 {
    background-color: var(--lv-clr-3);
}

.level-4 {
    background-color: var(--lv-clr-4);
}