p {
    color: var(--para-clr);
    line-height: 1.4rem;
}

p a {
    color: #a3a3a3;
    text-decoration: underline;
    text-underline-offset: 2px;
}
.text-muted-foreground {
    color: #a3a3a3;
}

p a:hover {
    filter: brightness(0.8);
}
p span a,
p span,
li span{
    color: #ffeea6;
    font-weight: 600;
}

strong{
    font-weight: 600;
}

.btn-wrapper {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
    margin-top: 20px;
}
.btn img{
    width: 16px;
    height: 16px;
}
.btn{
    user-select: none;
    cursor: pointer;
    background-color: #383838;
    padding: 8px 12px;
    height: 36px;
    border-radius: 8px;
    color: #fafafa;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    transition: .3s ease;
}

.btn.primary {
  background-color: white;
  color: black;
}

.btn.active,
.btn:hover {
    filter: brightness(0.9);
}
.icon{
    display: inline-block;
    aspect-ratio: 1;
    width: 24px;
    overflow: hidden;
}
.icon:hover{
    filter: brightness(200);
}

.icon img{
    width: 100%;
    height: 100%;
    
    object-fit: contain;
}
.gold .icon {
    display: none;
}

.gold {
    font-weight: 500;
    color: hsl(45, 100%, 72%);
    user-select: none;
    white-space: nowrap;
    padding: 14px 32px;
    background: linear-gradient(to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50%);
    font-size: 13px;
    /* border-radius: 0 15px; */
    border-radius: 15px;
    box-shadow: var(--shadow-2);
    z-index: 1;
    transition: 0.25s ease;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4;
}

.gold::before {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
    transition: 0.25s ease;
    z-index: -1;
}

.gold:hover,
.gold:focus {
    background: linear-gradient(to bottom right, hsl(45, 100%, 71%) 0%, hsla(36, 100%, 69%, 0) 50%);
}

.gold:hover::before,
.gold:focus::before {
    background: linear-gradient(135deg, hsla(45, 100%, 71%, 0.251) 0%, hsla(35, 100%, 68%, 0) 59.86%), hsl(240, 2%, 13%);
}
sub,
sup{
    font-weight: 400;
    font-size: 12px;
    padding: 2px;
}

/* write is an animation class */
.write {
    font-size: 24px;
    color: #ffdb70;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    position: relative;
    width: max-content;
}

.write::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    top: 0;
    right: -6px;
    background-color: #ffda6f;
    animation: blink 1s infinite linear;
}

.write.writing::before {
    animation: none;
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.alert.show {
    display: flex;
}
.alert {
    display: none;
    align-items: center;
    padding: 10px 20px;
    color: #cce8cd;
    gap: 10px;
    font-size: 16px;
    background-color: #2e7d32;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform-origin: 50% 0% 0px;
    animation: bounceIn .5s ease-out;
    position: fixed;
    top: 20px;
    right: 10px;
    transition: .3s ease-in-out;
    z-index: 1500;
}
.alert::before{
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    overflow: hidden;
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        transform: translateY(-100%) scale(0.5);
    }

    60% {
        opacity: 1;
        transform: translateY(10%) scale(1.05);
    }

    80% {
        transform: translateY(-5%) scale(0.95);
    }

    100% {
        transform: translateY(0) scale(1);
    }
}

.alert.danger {
    border: 1px solid hsl(0, 28%, 20%);
    background-color: hsl(0, 28%, 11%);
    color: #de3d32;
}
.alert.danger::before{
    background-image: url(../assets/icons/exclamation-svgrepo-com.svg);
}

.alert.success {
    border: 1px solid hsl(128, 28%, 20%);
    background-color: hsl(128, 28%, 11%);
    color: #5dab61;
}
.alert.success::before{
    background-image: url(../assets/icons/tick-inside-circle.png);
}

.loader{
    display: flex;
    gap: 5px;
}
.dot{
    width: 10px;
    aspect-ratio: 1/1;
    background-color: #fafafa;
    border-radius: 50%;
    animation: pulse 1.2s infinite linear; 
    animation-delay: calc(var(--i) * 0.25s);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
}
.loader{
    display: none;
    position: fixed;
    z-index: 100;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
}
.loader.show{
    display: flex;
}
@keyframes pulse {
    0%, 100% {
        transform: scale(0);
        opacity: 0.5;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
}
