p {
    color: var(--para-clr);
    line-height: 1.4rem;
}

p .a {
    color: #fcd37a;
}

p .a:hover {
    color: #ffeea6;
    text-decoration: underline;
}

.btn-wrapper {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 10px;
    margin-top: 20px;
}
.btn{
    user-select: none;
    cursor: pointer;
    background-color: #2b2b2c;
    padding: 5px 18px;
    border-radius: 8px;
    color: #fafafa;
    border: 2px solid #383839;
    text-align: center;
    text-transform: capitalize;
}
.btn.active,
.btn:hover {
    border-color: #909090;
}
.icon{
    aspect-ratio: 1;
    width: 24px;
    overflow: hidden;
}
.icon:hover{
    filter: brightness(200);
}

.icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.gold {
    font-weight: 500;
    color: hsl(45, 100%, 72%);
    user-select: none;
    white-space: nowrap;
    padding: 10px;
    background: linear-gradient(to bottom right, hsl(0, 0%, 25%) 0%, hsla(0, 0%, 25%, 0) 50%);
    font-size: 13px;
    /* border-radius: 0 15px; */
    border-radius: 15px;
    box-shadow: var(--shadow-2);
    z-index: 1;
    transition: 0.25s ease;
    position: relative;
}

.gold::before {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    background: linear-gradient(to bottom right, hsla(240, 1%, 18%, 0.251) 0%, hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
    transition: 0.25s ease;
    z-index: -1;
}

.gold:hover,
.gold:focus {
    background: linear-gradient(to bottom right, hsl(45, 100%, 71%) 0%, hsla(36, 100%, 69%, 0) 50%);
}

.gold:hover::before,
.gold:focus::before {
    background: linear-gradient(135deg, hsla(45, 100%, 71%, 0.251) 0%, hsla(35, 100%, 68%, 0) 59.86%), hsl(240, 2%, 13%);
}
sub,
sup{
    font-weight: 400;
    font-size: 12px;
    padding: 2px;
}

/* write is an animation class */
.write {
    font-size: 24px;
    color: #ffdb70;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    font-family: "Orbitron", sans-serif;
    position: relative;
    width: max-content;
}

.write::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    top: 0;
    right: -6px;
    background-color: #ffda6f;
    animation: blink 1s infinite linear;
}

.write.writing::before {
    animation: none;
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}